<div class="prompts">
	<%#= content_tag :h2, prompt.headline %>
	<h2><%= link_to prompt.headline, prompt %></h2>
	<p>posted <%= time_ago_in_words(prompt.created_at) %> ago by <%=prompt.user.username.capitalize %> | <%= prompt.contribs.where(is_published: true).count %> Contribs</p>
	<% if current_user != nil %>
		<% if current_user.is_admin? %>
			<%= button_to "Unpublish Article", {:controller => :prompts, :action => 'destroy', :id => prompt.id }, :method => :delete, data: { confirm: "Are you sure you want to unpublish \"#{prompt.headline}\"?" } %> 			
      	<% else %>
      		<%# button_to 'Contribute to story', new_contrib_path, method: :get %> 			
      	<% end %>
	<% end %>
	<p><%= prompt.body.gsub(/^(.{200,}?).*$/m,'\1...') %></p>

	<hr>
</div>
<br>



