<div class="row hero jumbotron">
	<div class="gradient">
		<div class="container">
			<div class="col-md-8">
				<%= link_to '< back', root_path %>
				<div style="width:600; overflow:hidden"><%= image_tag @prompt.image_url %></div>	
				<h1><%= @prompt.headline %></h1>
				<% if current_user != nil && current_user.is_admin? %>
					<%= button_to "Unpublish Article", {:controller => :prompts, :action => 'destroy', :id => @prompt.id }, :method => :delete, data: { confirm: "Are you sure you want to unpublish \"#{@prompt.headline}\"?" }, :class => 'btn btn-danger'%>
					<% end %>
				<p><%= content_tag :p, "by #{@prompt.user.username.capitalize } #{time_ago_in_words(@prompt.created_at)} ago " %></p>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
		  			<div class="panel-body">
						<% if current_user != nil %>
							<h3>Contribute to this story!</h3>
						  	<%= button_to 'Contribute to story', new_prompt_contrib_path(@prompt), method: :get, :class => 'btn btn-primary' %> 	
							<% if current_user.is_admin? %>
						  		<%= button_to 'Moderate Reader Contributions', prompt_contribs_path(@prompt), method: :get, :class => 'btn btn-info' %>	
						  	<% end %>
						<% end %>	
						<% if current_user == nil %>
							<h3>Want to contribute to this story?</h3>
							<h4> <%=  link_to 'Sign Up', '/users/sign_up', :class => 'btn btn-primary' %> or <%=  link_to 'Sign In', '/users/sign_in' , :class=> 'btn btn-default'%>	</h4>
						<% end %>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
<main role="main" class="container">
	<div class="row">
		<div class="col-md-8">
			<p><%= @prompt.body %></p>
			<%if current_user != nil && current_user.is_admin? %>
				<% if current_user.is_admin? %>
					<p>Total contribs  <span class="badge"><%= @contribs.count %></span> | Published contribs <span class="badge"> <%= @published_contribs.count %></span> | Awaiting approval <span class="badge"> <%= @unpublished_contribs.count%></span></p>
					<hr>
					<% end %>
			<% end %>
		</div>	
	</div>
	<div class="row">
		<% if @published_contribs.length != 0 %>
			<% @published_contribs.each do |contrib| %>
				<div class="col-md-4">
					<h3><%= contrib.headline %></h3>
					<p><%= contrib.body %></p>
					<p>— Contributed by <b><%=contrib.user.username.capitalize %></b><p>
				</div>
			<% end %>
		<% else %>
			<p>No user contributions yet!</p>
			<hr>
		<% end %>
	</div>
</main>
